body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #005eb8;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header component */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.demo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.logo-container {
  position: absolute;
  top: 25px;
  right: 25px;
  margin: 0;
}

.logo-container img {
  height: 50px;
  margin: 0;
}

.logo-container p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

/* Request component */

.form-container {
  background-color: #fff;
  height: 450px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  text-align: center;
}

label {
  font-family: inherit;
  font-size: 18px;
  height: 2rem;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  margin-right: 15px;
  float: left;
}

.form-container input,
select {
  height: 2rem;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 10px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.btns {
  margin-top: 10px;
}

.btns button {
  margin: 10px 1px 0 5px;
  height: 3rem;
  width: 240px;
  font-size: 1rem;
}

.submit {
  background-color: #009639;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: #006747;
  transform: scale(1.05);
}

.cancel {
  background-color: #da291c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel:hover {
  background-color: #941d14;
  transform: scale(1.05);
}

.pathologist,
.spares {
  width: 320px;
}

.submitting {
  margin-top: 0.8rem;
}

/* NavBtn component */

.link-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.link-btn button {
  margin: 10px 1px 0 5px;
  height: 3rem;
  width: 240px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #0072ce;
  cursor: pointer;
}

.link-btn button:hover {
  background-color: #003087;
  transform: scale(1.05);
}

.link-btn p {
  color: white;
  text-decoration: none;
}

/* Request List Page */

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

table {
  /* border: 1px black solid; */
  border-collapse: collapse;
  margin-bottom: 2rem;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0072ce;
  color: white;
}

/* Pathologist List page */

.path-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-path-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.add-path-container label {
  align-items: center;
  width: auto;
}

.new-path-input {
  height: 2rem;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 10px;
}

.addBtn {
  margin: 10px 1px 0 5px;
  height: 3rem;
  width: 240px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #009639;
  cursor: pointer;
  color: #fff;
}

.addBtn:hover {
  background-color: #006747;
  transform: scale(1.05);
}

.path-btn-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 2rem;
}

.editBtn {
  margin: 10px 1px 0 5px;
  height: 3rem;
  width: 240px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #fae100;
  cursor: pointer;
}

.editBtn:hover {
  background-color: #ffb81c;
  transform: scale(1.05);
}

.removeBtn {
  margin: 10px 1px 0 5px;
  height: 3rem;
  width: 240px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #da291c;
  cursor: pointer;
  color: #fff;
}

.removeBtn:hover {
  background-color: #941d14;
  transform: scale(1.05);
}

/* Footer component */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.version {
  margin: 0;
}

/* Media queries */

@media (max-width: 800px) {
  body {
    margin-left: 15px;
    margin-right: 15px;
  }

  .title {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0 10px;
  }

  .title h1 {
    margin: 0 15px 0 0;
    font-size: 18px;
  }

  .demo {
    display: none;
  }

  .list-container {
    display: none;
  }

  .logo-container {
    position: relative;
    top: auto;
    right: auto;
  }

  .logo-container img {
    width: 100px;
    height: auto;
  }

  .logo-container p {
    font-size: 9px;
  }

  .form-container {
    width: 400px;
    height: auto;
  }

  .form-container h3 {
    font-size: 15px;
  }

  label {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 15px;
  }

  input {
    margin-top: 0;
  }

  footer {
    margin-top: 2rem;
  }
}
